body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #007AFF;
    font-size: 18px;

}

h1, h2, h3, h4 {
    font-style: normal;
}

h1 {
    font-size: 56px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
    


.nav > a {
    text-decoration: none;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
  

}

.nav > ul > a {
    text-decoration: none;
    color: #007AFF;
}

.nav > ul > a > li {
    list-style: none;
    padding-left: 10px;
    font-weight: 600;
}

.contentbox {
    max-width: 1100px;
    margin: 0 auto;
}

.contentbox__content {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentbox__content > img {
    width: 555px;
    height: 380px;
}

.contentbox__content--inner {
    max-width: 500px;
}

.contentbox__content--inner > ul >li{
    list-style-position: outside;
    line-height: 36px;
}

.action_content {
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.action_content > a {
    text-decoration: none;
    margin-right: 20px;
    background: #007AFF;
    padding: 12px 20px;
    color: white;
    
}

.featuresbox {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.featuresbox__content {
    max-width: 350px;
}

.testimonials {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.testimonials__content {
    max-width: 350px;
    padding: 24px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    
}

.testimonials__content > p {
    max-width: 286px;

}

.testimonials__content > img {
    border-radius: 50%;
    width: 50px;
    margin-top: 50px;

}

.testimonials__contact > h4{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.testimonials__contact__inner > p{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.qa {
    padding-top: 120px;
    max-width: 540px;
    margin: 0 auto;
}

svg {
    width: 20px;
    fill: #007AFF;
}

.qa__content__inner-head:checked ~ p {
    visibility: hidden;
}